{% extends "CarniceriaBundle::layout.html.twig" %} {% block body %}
<section class="content">
	<div class="ic">More Website Templates @ TemplateMonster.com - July 30,
		2014!</div>
	<div class="container">
		<div class="row">
			<div class="grid_4">
				<div class="banner">
					<div class="gall_block">
						<img src="{{ asset('bundles/carniceria/images/carnes.jpg') }}"
							alt="">
						<div class="bann_capt ">
							<div class="maxheight">
								<img src="{{ asset('bundles/carniceria/images/icon1.png') }}"
									alt="">
								<div class="bann_title">Carne Vacuna</div>
							</div>
							<a href="{{ path("producto") }}">Comprar</a>
						</div>
					</div>
				</div>
			</div>
			<div class="grid_4">
				<div class="banner">
					<div class="gall_block">
						<div class="bann_capt  bn__1">
							<div class="maxheight">
								<img src="{{ asset('bundles/carniceria/images/icon1.png') }}"
									alt="">
								<div class="bann_title">Cerdo Segoviano</div>
								<a href="{{ path("producto") }}">Comprar</a>
							</div>
						</div>
						<img src="{{ asset('bundles/carniceria/images/cerdo.jpg') }}"
							alt="">
					</div>
				</div>
			</div>
			<div class="grid_4">
				<div class="banner ">
					<div class="gall_block">
						<img src="{{ asset('bundles/carniceria/images/pollo.jpg') }}"
							alt="">
						<div class="bann_capt  bn__2">
							<div class="maxheight">
								<img src="{{ asset('bundles/carniceria/images/icon1.png') }}"
									alt="">
								<div class="bann_title">El mejor pollo de Corral</div>
							</div>
							<a href="{{ path("producto") }}">Comprar</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
{% endblock %}
