<!DOCTYPE html>
<html lang="en">
<head>
	<title>Carniceria Riesco</title>
	<meta charset="utf-8">
	<meta name = "format-detection" content = "telephone=no" />
	<link rel="icon" href="images/favicon.ico">
	<link rel="shortcut icon" href="images/favicon.ico" />
	<link rel="stylesheet" href="{{ asset('bundles/carniceria/css/stuck.css') }}">
	<link rel="stylesheet" href="{{ asset('bundles/carniceria/css/style.css') }}">
	<link rel="stylesheet" href="{{ asset('bundles/carniceria/css/form.css') }}">
	<link rel="stylesheet" href="{{ asset('bundles/carniceria/css/touchTouch.css') }}">
	<link rel="stylesheet" href="{{ asset('bundles/carniceria/css/jquery-ui.min.css') }}">
	<link rel="stylesheet" href="{{ asset('bundles/carniceria/css/jquery-ui.theme.min.css') }}">
	<link rel="stylesheet" href="{{ asset('bundles/carniceria/css/jquery-ui.structure.min.css') }}">

	<script src="{{ asset('bundles/carniceria/js/jquery.js') }}"></script>
    <script src="{{ asset('bundles/carniceria/js/jquery-ui.min.js') }}"></script>
	<script src="{{ asset('bundles/carniceria/js/jquery-migrate-1.1.1.js') }}"></script>
	<script src="{{ asset('bundles/carniceria/js/script.js') }}"></script> 
	<script src="{{ asset('bundles/carniceria/js/superfish.js') }}"></script>
	<script src="{{ asset('bundles/carniceria/js/jquery.equalheights.js') }}"></script>
	<script src="{{ asset('bundles/carniceria/js/jquery.mobilemenu.js') }}"></script>
	<script src="{{ asset('bundles/carniceria/js/jquery.easing.1.3.js') }}"></script>
	<script src="{{ asset('bundles/carniceria/js/tmStickUp.js') }}"></script>
	<script src="{{ asset('bundles/carniceria/js/jquery.ui.totop.js') }}"></script>
	<script src="{{ asset('bundles/carniceria/js/touchTouch.jquery.js') }}"></script>




	<script>
		$(document).ready(function(){

			$().UItoTop({ easingType: 'easeOutQuart' });
			$('#stuck_container').tmStickUp({});
			$('.gallery .gall_item').touchTouch();

		}); 
	</script>
	<style type="text/css">
		.shopping{
			background-color: #969696;
			color:white;
		}
	</style>
	<script type="text/javascript">
		$(function() {
			var offset = $("#shopping_cart_button").offset();
			var topPadding = 200;
			$(window).scroll(function() {
				if ($(window).scrollTop() > offset.top) {
					$("#shopping_cart_button").stop().animate({
						marginTop: $(window).scrollTop() - offset.top + topPadding
					});
				} else {
					$("#shopping_cart_button").stop().animate({
						marginTop: 60
					});
				};
			});
		});
	</script>
<!--[if lt IE 9]>
 <div style=' clear: both; text-align:center; position: relative;'>
   <a href="http://windows.microsoft.com/en-US/internet-explorer/products/ie/home?ocid=ie6_countdown_bannercode">
     <img src="http://storage.ie6countdown.com/assets/100/images/banners/warning_bar_0000_us.jpg" border="0" height="42" width="820" alt="You are using an outdated browser. For a faster, safer browsing experience, upgrade for free today." />
   </a>
</div>
<script src="js/html5shiv.js"></script>
<link rel="stylesheet" media="screen" href="css/ie.css">


<![endif]-->
</head>

<body>
	{% include 'CarniceriaBundle::menu.html.twig' %}      
	{% block menu %}{% endblock %}
	{% block body %}{% endblock %}
	{% include 'CarniceriaBundle::footer.html.twig' %} 
	{% block javascript %} {% endblock %}
</body>
</html>

