
<header>

    <section id="stuck_container">
       <div class="container">
          <div class="row">
             <div class="grid_12">
                <h1>
                   <a href="index.html">
                      <img src="{{ asset('bundles/carniceria/images/logo.png') }}" alt="Logo alt">
                  </a>
              </h1>  
              <div class="navigation ">
               <nav>
                  <ul class="sf-menu">
                     <li><a href="{{ url('inicio') }}">Inicio</a></li>
                     <li><a href="{{ url('producto') }}">Productos</a></li>
                     <li><a href="{{ url('categoria') }}">Categorias</a></li>
                     <li><a href="{{ url('contacto') }}">Contacto</a></li>
                     <li><a href="{{ url('compra') }}">Carro de compra</a></li>
                 </ul>
             </nav>        
             <div class="clear"></div>
         </div>
     </div>
 </div>
</div>
</section> 
</header>  