{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Carro</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Usuariosession</th>
                <td>{{ entity.usuarioSession }}</td>
            </tr>
            <tr>
                <th>Precioproducto</th>
                <td>{{ entity.precioProducto }}</td>
            </tr>
            <tr>
                <th>Cantidad</th>
                <td>{{ entity.cantidad }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('carro') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('carro_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
