{% extends 'CarniceriaBundle::layout.html.twig' %} {% block javascript
%}
<script type="text/javascript">
    $(function(){
      $("#shopping_cart_button").on("click",function(){

        if($(this).data("estado")==="productos"){
            $(this).data("estado","carro");
            $("#category").toggle( "slide", {}, 200 ).promise().done(function(){
                $("#shopping_cart").toggle( "slide", {}, 200 );
                $(".content").switchClass( "", "shopping", 200, "easeInOutQuad" );
                $("#shopping_cart_button").css("background-image","url('{{ asset('bundles/carniceria/images/cart-inverted.png') }}')");
            });
        }else{
            $(this).data("estado","productos");
             $("#shopping_cart").toggle( "slide", {}, 200 ).promise().done(function(){
                $("#category").toggle( "slide", {}, 300);
                $(".content").switchClass( "shopping", "", 200, "easeInOutQuad" );
                $("#shopping_cart_button").css("background-image","url('{{ asset('bundles/carniceria/images/cart.png') }}')");
            });
        }  

    });

      

		$(".spinner").spinner();
      
      $('.categoria-filter').on("click", function(){
			var cat = $(this).data("categoria");

			 $.getJSON("{{ url('categoria_listar') }}",{ idCategoria: cat }, poblarProductos);

			
          });
      
      $.getJSON("{{ url('categoria_listar') }}",{ idCategoria: '0' }, poblarProductos);
      
      });

    

    function poblarProductos(data){
		$(".categoria-titulo").html("Categoria: "+data.nombre+" > Productos");
		$(".categoria-descripcion").html(data.descripcion);
		$(".categoria-productos").html("");
	
		for (key in data.productos) {
			var row = $("<tr></tr>");

			var src = "{{  asset("uploads/") }}"+data.productos[key].filename;
			row.append($("<td></td>").html("<img src=\""+src+"\" style='margin-bottom: 0px' width='40px' height='40px'>"));
			row.append($("<td></td>").html("<strong>"+data.productos[key].nombre+"</strong>"));
			row.append($("<td></td>").html('Disponible : '+data.productos[key].stock+ ''+data.productos[key].unidad_de_compra +"    <strong> Precio : \u20AC "+data.productos[key].precio +'</strong>'));

			var spin = $( "<input class='spinner' name='value' style='width:40px'>" ).spinner();
			var addCart = $("<td></td>");
			addCart.append(spin);
			addCart.append("<a href='javascript:void(0);' data-producto='"+data.productos[key].id+"'  class='addCart'><span class='fa fa-shopping-cart'></span>Agregar Al carro</a>");
			row.append(addCart);
			$(".categoria-productos").append(row);
		}

		$('.addCart').on("click", function(){

	          $.post('{{ url("carro_create") }}',{ idProducto: $(this).data('producto'), cantidad: '100' }, function( data ) {
	        	  alert( data );
	          });
	    	  
	      });
		/*<tr>
		<td><img alt="" src="http://dummyimage.com/100x100/000/fff"
			style="margin-bottom: 0px"></td>
		<td>Redondo con Especias</td>
		<td><div class="fa fa-eye"></div>Disponible : 20 Kg <input
			class="spinner" name="value"></td>
		<td><a href="#" class="addCart"><span class="fa fa-link"></span>
				Agregar Al carro</a></td>
	</tr>
		*/
        }

    
    </script>
{% endblock %} {% block body -%}
<section class="content">
	<div class="container">



		<div class="row">


			<div class="grid_4 preffix_1" style="width: 200px">
				<h2>Categorias</h2>
				<ul class="list">
					{% for categoria in categorias %}
					<li><a href="javascript:void(0);"
						data-categoria="{{ categoria.id }}" class="categoria-filter">{{
							categoria.nombre }}</a></li> {% endfor %}
					<li><a data-categoria="0" class="categoria-filter"
						href="javascript:void(0);"><b>TODAS</b></a></li>
				</ul>
			</div>
			<div class="grid_7" id="category">
				<div class="blog">
					<h1 class="blog_title categoria-titulo"></h1>
					<p class="categoria-descripcion"></p>
					<table>
						<tbody class="categoria-productos">
						</tbody>
					</table>
				</div>
			</div>
			<div class="grid_7" style="background-color: #969696; display: none"
				id="shopping_cart">
				<div class="blog">
					<div class="blog_title">
						<a href="#">Productos del carro</a>
					</div>
					<p>Nullam consectetur orci sed nulla facilisisequaterto. Curabitur
						vel lorem sit amet nulla perermentum. Aliquam nibh ante, egestas
						id dictum a, commodo luctus libero. Raesent faucibus malesuada
						faucibus. Donecertolin laoreet metus id laoreet malesuadarem ipsum
						dolor sit amet, consectetur adipiscing elit. Nullam consectetur
						orci sed nulla facilisis consequat.</p>
					<table>
						<tbody>
							<tr>
								<td><div class="fa fa-comments"></div> No commentts</td>
								<td><div class="fa fa-eye"></div>182
									<div class="fa fa-thumbs-up"></div>0
									<div class="fa fa-thumbs-down"></div>0</td>
								<td><a href="#"><span class="fa fa-link"></span> Agregar Al
										carro</a></td>
							</tr>
							<tr>
								<td><div class="fa fa-comments"></div> No commentts</td>
								<td><div class="fa fa-eye"></div>182
									<div class="fa fa-thumbs-up"></div>0
									<div class="fa fa-thumbs-down"></div>0</td>
								<td><a href="#"><span class="fa fa-link"></span> Agregar Al
										carro</a></td>
							</tr>
							<tr>
								<td><div class="fa fa-comments"></div> No commentts</td>
								<td><div class="fa fa-eye"></div>182
									<div class="fa fa-thumbs-up"></div>0
									<div class="fa fa-thumbs-down"></div>0</td>
								<td><a href="#"><span class="fa fa-link"></span> Agregar Al
										carro</a></td>
							</tr>
							<tr>
								<td><div class="fa fa-comments"></div> No commentts</td>
								<td><div class="fa fa-eye"></div>182
									<div class="fa fa-thumbs-up"></div>0
									<div class="fa fa-thumbs-down"></div>0</td>
								<td><a href="#"><span class="fa fa-link"></span> Agregar Al
										carro</a></td>
							</tr>
							<tr>
								<td><div class="fa fa-comments"></div> No commentts</td>
								<td><div class="fa fa-eye"></div>182
									<div class="fa fa-thumbs-up"></div>0
									<div class="fa fa-thumbs-down"></div>0</td>
								<td><a href="#"><span class="fa fa-link"></span> Agregar Al
										carro</a></td>
							</tr>
							<tr>
								<td><div class="fa fa-comments"></div> No commentts</td>
								<td><div class="fa fa-eye"></div>182
									<div class="fa fa-thumbs-up"></div>0
									<div class="fa fa-thumbs-down"></div>0</td>
								<td><a href="#"><span class="fa fa-link"></span> Agregar Al
										carro</a></td>
							</tr>
							<tr>
								<td><div class="fa fa-comments"></div> No commentts</td>
								<td><div class="fa fa-eye"></div>182
									<div class="fa fa-thumbs-up"></div>0
									<div class="fa fa-thumbs-down"></div>0</td>
								<td><a href="#"><span class="fa fa-link"></span> Agregar Al
										carro</a></td>
							</tr>
							<tr>
								<td><div class="fa fa-comments"></div> No commentts</td>
								<td><div class="fa fa-eye"></div>182
									<div class="fa fa-thumbs-up"></div>0
									<div class="fa fa-thumbs-down"></div>0</td>
								<td><a href="#"><span class="fa fa-link"></span> Agregar Al
										carro</a></td>
							</tr>
							<tr>
								<td><div class="fa fa-comments"></div> No commentts</td>
								<td><div class="fa fa-eye"></div>182
									<div class="fa fa-thumbs-up"></div>0
									<div class="fa fa-thumbs-down"></div>0</td>
								<td><a href="#"><span class="fa fa-link"></span> Agregar Al
										carro</a></td>
							</tr>
							<tr>
								<td><div class="fa fa-comments"></div> No commentts</td>
								<td><div class="fa fa-eye"></div>182
									<div class="fa fa-thumbs-up"></div>0
									<div class="fa fa-thumbs-down"></div>0</td>
								<td><a href="#"><span class="fa fa-link"></span> Agregar Al
										carro</a></td>
							</tr>
							<tr>
								<td><div class="fa fa-comments"></div> No commentts</td>
								<td><div class="fa fa-eye"></div>182
									<div class="fa fa-thumbs-up"></div>0
									<div class="fa fa-thumbs-down"></div>0</td>
								<td><a href="#"><span class="fa fa-link"></span> Agregar Al
										carro</a></td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
			<div id="shopping_cart_button"
				style="width:100px; height:100px; margin-top:60px;  float: right;  z-index:999; overflow: auto; display:block; background-image: url('{{ asset('bundles/carniceria/images/cart.png') }}') ; background-size: 100px 100px;  background-repeat: no-repeat; cursor:pointer;"
				data-estado="productos"></div>
		</div>
	</div>
</section>



{% endblock %}
