{% extends 'CarniceriaBundle::layout.html.twig' %} {% block javascript
%}
<script type="text/javascript">
    $(function(){
      $("#shopping_cart_button").on("click",function(){

        if($(this).data("estado")==="productos"){
            $(this).data("estado","carro");
            $("#category").toggle( "slide", {}, 200 ).promise().done(function(){
                $("#shopping_cart").toggle( "slide", {}, 200 );
                $(".content").switchClass( "", "shopping", 200, "easeInOutQuad" );
                $("#shopping_cart_button").css("background-image","url('{{ asset('bundles/carniceria/images/cart-inverted.png') }}')");
            });
        }else{
            $(this).data("estado","productos");
             $("#shopping_cart").toggle( "slide", {}, 200 ).promise().done(function(){
                $("#category").toggle( "slide", {}, 300);
                $(".content").switchClass( "shopping", "", 200, "easeInOutQuad" );
                $("#shopping_cart_button").css("background-image","url('{{ asset('bundles/carniceria/images/cart.png') }}')");
            });
        }  

    });

     $(".cancel").on("click", function(){
     	$.getJSON("{{ url('categoria_listar') }}",{ idCategoria: cat }, poblarProductos);
     }) 

     $(".enviar").on("click", function(){

 		if($("#nombre").val()==="Nombre"){
 			message("Por favor ingrese su nombre en el campo 'Nombre' ");
 	 		return false;
 	 	}

 		if($("#telefono").val()==="Telefono"){
 			message("Por favor ingrese su telefono en el campo 'Telefono' ");
 	 		return false;
 	 	}

 		if($("#direccion").val()==="Direccion de entrega"){
 			message("Por favor ingrese su direccion de destino en el campo 'Direccion de entrega' ");
 	 		return false;
 	 	}

         
     	$.post($('#form').attr('action'),$('#form').serialize(),function(data){
			if(data == "error"){
			message("No se pudo completar la orden, intente mas tarde");
			
			}else{
				$('.prodbtns').hide();
				$('.btns').hide();
				$("#flash-message-div").stop();
				$("#flash-message").html("Se completo con exito la solicitud. Su identificador de compra es: <br><strong>"+data+"</strong>");
				$("#flash-message-div").show();
				$("input").attr("disabled","disabled");
			}
        });
     	
     }) 

      $("#nombre")
      .focusin(function(){
      	if($(this).val()==="Nombre"){
      		$(this).val("");
      	}
      })
      .focusout(function(){
      	if($(this).val().trim()===""){
      		$(this).val("Nombre");
      	}
      });

       $("#telefono")
      .focusin(function(){
      	if($(this).val()==="Telefono"){
      		$(this).val("");
      	}
      })
      .focusout(function(){
      	if($(this).val().trim()===""){
      		$(this).val("Telefono");
      	}
      });

       $("#direccion")
      .focusin(function(){
      	if($(this).val()==="Direccion de entrega"){
      		$(this).val("");
      	}
      })
      .focusout(function(){
      	if($(this).val().trim()===""){
      		$(this).val("Direccion de entrega");
      	}
      });
      

		$(".spinner").spinner();
      
      $('.categoria-filter').on("click", function(){
			var cat = $(this).data("categoria");

			 $.getJSON("{{ url('categoria_listar') }}",{ idCategoria: cat }, poblarProductos);

			
          });
      
      $.getJSON("{{ url('carro_listar') }}", poblarCarro);
      
      });

    


    function poblarCarro(data){
    	var total = 0;

		$(".carro-productos").html("");

		for (key in data) {
			var row = $("<tr></tr>");

			var src = "{{  asset("uploads/") }}"+data[key].id_producto.filename;
			row.append($("<td></td>").html("<img src=\""+src+"\" style='margin-bottom: 0px' width='80px' height='80px'>"));
			row.append($("<td></td>").html("<strong>"+data[key].id_producto.nombre+"</strong>"));
			row.append($("<td></td>").html('Disponible : '+data[key].id_producto.stock+ ''+data[key].id_producto.unidad_de_compra +" </br>   <strong> Precio por "+ data[key].id_producto.unidad_de_compra +": \u20AC "+data[key].precio_producto +'</strong>'));

			var spin = $( "<input class='spinner' value='"+data[key].cantidad+"' style='width:50px; margin-right:0px;  border-width:1px; text-align:right;'>" );
			var addCart = $("<td></td>");

			addCart.append("<a href='javascript:void(0);' data-producto='"+data[key].id+"'  class='updateCart prodbtns'><span class='fa fa-refresh'></span>Actualizar</a>");
			
			addCart.append("<a href='javascript:void(0);' data-producto='"+data[key].id+"'  class='delCart prodbtns'><span class='fa fa-trash-o'></span>Eliminar</a></br>");
			var span = $("<span style='float:left; margin-left:80px'></span>").append(spin);
					
			span.append(data[key].id_producto.unidad_de_compra);
			addCart.append(span);
			
			addCart.append("  Subtotal : " +(data[key].cantidad*data[key].precio_producto) + "€");
			total = total + data[key].cantidad*data[key].precio_producto;

			row.append(addCart);
			$(".carro-productos").append(row);
		}


		 $('.updateCart').on("click", function(){
		 	var updateCantidad = $(this).siblings("span")[0].childNodes[0].value;
	          $.post('{{ url("carro_update_cant") }}',{ idProducto: $(this).data('producto'), cantidad : updateCantidad }, function( data ) {
	        	  $.getJSON("{{ url('carro_listar') }}", poblarCarro);
	        	  message("Se ha actualizado con exito la cantidad solicitada del producto");
	          });
	      });

		 $('.delCart').on("click", function(){
	          $.post('{{ url("carro_delete") }}',{ idProducto: $(this).data('producto') }, function( data ) {
	        	  $.getJSON("{{ url('carro_listar') }}", poblarCarro);
	        	  message("Se ha eliminado con exito el producto");
	          });
	      });

 		if(data.length == 0){
		 		var totalrow = $("<tr></tr>");
				totalrow.append($("<td colspan='4' style='text-align:center'>Actualmente no tiene productos en el carro </td>"));
				$(".carro-productos").append(totalrow);
				$("#totalpagar").val("Total a pagar : ... €");
				$(".btns").hide();
		 }else{
		 	var totalrow = $("<tr></tr>");
			totalrow.append($("<td colspan='4' style='text-align:right'>Total : "+total+"€</td>"));
			$(".carro-productos").append(totalrow);
			$("#totalpagar").val("Total a pagar : "+total+"€");
			$(".btns").show();
		 }
    }


    
    </script>
{% endblock %} {% block body -%}
<section class="content">
	<div class="container">

		<div class="row">
			<div class="grid_7" id="shopping_cart">

				<h2>Productos del carro</h2>
				<div class="blog">
					<div id="flash-message-div" class="ui-widget" style="display:none">
						<div class="ui-state-highlight ui-corner-all" style="padding: 0 .7em;">
							<p id="flash-message" style="margin-bottom: 10px; margin-top:10px">
							</p>
						</div>
					</div>
					<table>
						<tbody class="carro-productos">
							
						</tbody>
					</table>
				</div>
				<p>INFORMACION: Los productos en este carro de compra podrian no estar disponibles al momento de realizar el pedido de envio.</p>
			</div>
			<div class="grid_4 preffix_1">
				<h2>Datos del Comprador</h2>
				<form id="form" method="POST" action="{{ path('compra_create') }}">
					<label class="name"> <input type="text" name="name" value="Nombre" id="nombre" ></label> <label
						class="name" style="margin-left: 0px"> <input type="text"
						name="telefono" value="Telefono" id="telefono">
					</label> <label class="name" style="margin-left: 0px"> <input
						type="text" name="total" id="totalpagar" value="Total a pagar : ... €" disabled="disabled">
					</label> <label class="message"> <textarea name="direccion" id="direccion"
							 style="height: 150px">Direccion de entrega</textarea></label>
					<div class="clear"></div>
					<p>Este es un servicio de solicitudes de envio a domicilio, una vez realizada la solicitud se llamara al destino para confirmar el pedido y realizar la entrega, NO SE HARA NINGUN TIPO DE COBRO POR ESTA VIA.
					<div class="btns">
						<a href="#" data-type="reset" class="btn cancel">Cancelar</a>
						<a href="#" data-type="reset" class="btn enviar">Enviar solicitud</a>
					</div>
				</form>
			</div>

		</div>
	</div>
</section>



{% endblock %}
